<div class="d-flex">
  <div class="menu-bar">
    <p>Home</p>
    <p>Creating Packages</p>
    <p>API</p>
    <p>Configuration</p>
    <p>Pluggable Resolvers</p>
    <p>Tools</p>
    <p>About</p>
  </div>
  <div class="content-container d-flex flex-grow-1  py-3 px-2 flex-column ">
    <div class="search-box border mb-2">Search</div>
    <div class="content-packages d-flex flex-column border">
      <% @packsinfos.each do |pack| %>
        <div class="card-base d-flex mx-2">
          <div class="card-main-content">
            <h2 class="pt-3 pb-1"> <a href="<%= pack["homepage"] %>"><%= pack["name"] %></a>  </h2>
            <h4> <a href="<%= pack["homepage"] %>"><%= pack["homepage"] %></a> </h4>
            <p><%= pack["description"] %></p>
          </div>
          <div class="card-owner align-items-center d-flex px-2"><%= pack["repository_url"].split("/")[3] %></div>
          <div class="card-stars align-items-center d-flex px-2"><%= pack["stars"] %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
